/* Dark mode */
body {
    background-color: #121212;
    color: #fff;
}

.input-row {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.input-group {
    margin: 0 2rem;
}

.container {
    display: flex;
    align-items: center;
    border: 0.25rem solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #1f1f1f;
}

.left-column {
    flex-shrink: 0;
    margin-right: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.input-group {
    margin-bottom: 10px;
}

.input-slot-div {
    border: 0.25rem double #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #1f1f1f;
}

.input-slot-div h2 {
    margin-top: 0rem;
}

.input-slot-div:hover {
    border-style: solid;
}

#gui-container-container div h2 {
    margin-top: 0rem;
}

#gui-container-container * div {
    border: 0.25rem double #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #1f1f1f;
}

#gui-container-container * div:hover {
    border-style: solid;
}

#gui-container-container * input {
    margin-right: 1.5rem;
}

.gui-info-image {
    position: absolute;
}