    body {
        background-color: #121212;
        color: #fff;
        font-family: "Roboto", sans-serif;
    }
    
    h1, h2 {
        color: #fff;
    }
    
    .input-row {
        display: flex;
        align-items: center;
        margin: 2rem 0;
    }
    
    .input-group {
        margin: 0 2rem;
    }
    
    .container {
        display: flex;
        align-items: center;
        border: 0.2rem solid #444;
        border-radius: 1rem;
        padding: 1rem;
        background-color: #1f1f1f;
    }
    
    .left-column {
        flex-shrink: 0;
        margin-right: 2rem;
    }
    
    .right-column {
        display: flex;
        flex-direction: column;
    }
    
    .input-group {
        margin-bottom: 1.5rem;
    }
    
    .input-slot-div {
        border: 0.2rem double #444;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        background-color: #1f1f1f;
    }
    
    .input-slot-div h2 {
        margin-top: 0;
    }
    
    .input-slot-div:hover {
        border-style: solid;
        border-color: #fff;
    }
    
    #gui-container-container div h2 {
        margin-top: 0;
    }
    
    #gui-container-container * div {
        border: 0.2rem double #444;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        background-color: #1f1f1f;
    }
    
    #gui-container-container * div:hover {
        border-style: solid;
        border-color: #aaa;
    }
    
    #gui-container-container * input {
        margin-right: 1rem;
    }

    div.done-pop-up {
        border: 1rem double black;
        border-radius: 1rem;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: lightgray;
        min-width: 50vw;
        min-height: 50vh;
        max-width: 90vw;
        max-height: 90vh;
    }

    h1.done-pop-up{
        color: black;
        text-align: center;
        margin-top: 0rem;
    }

    p.done-pop-up{
        color: black;
    }
    
    /* DO NOT TOUCH .gui-info-image */
    .gui-info-image {
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        position: absolute;
    }
    
    /* Light mode */
    @media (prefers-color-scheme: light) {
        body {
        background-color: #f7f7f7;
        color: #000;
        }
    
        h1, h2 {
        color: #000;
        }
    
        .input-row {
        background-color: #f7f7f7;
        }
    
        .input-group {
        background-color: #f7f7f7;
        }
    
        .container {
        background-color: #f7f7f7;
        }
    
        .left-column {
        margin-right: 0;
        }
    
        .right-column {
        background-color: #f7f7f7;
        }
    
        .input-slot-div {
        background-color: #f7f7f7;
        }
    
        .gui-info-image {
        position: relative;
        }
    }
    